.backgroundGrey {
    height: 100%;
    width: 100%;
    background-color: rgba(112, 112, 112, .7);
    position: absolute;
    z-index: -1;
}

.instructionsConatainer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.arrow {
    height: 130px;
    background-image: url('../../../assets/background-arrow-white.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.canvasContainer {
    z-index: -2;
}

.flexGrid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.col {
    width: 32%;
}