.toolBar {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media (max-height: 800px) {
    .toolBar {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-bottom: 50px;

    }
}