body {
    font-family: 'Major Mono Display', monospace;
    margin: 0;
    overflow: hidden;
}

.pageContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer {
    width: 400px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position:absolute;
}

@media (max-width: 500px) {
    .pageContainer {
        width: 100vw;
        height: 86vh;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 12vh;
    }
}

@media (max-width: 1020px) {
    .mainContainer {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        position:absolute;
    }
}