.uploadPhotoContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50%;  
    justify-content: space-around;
    width: inherit;
}

.photoContainer {
    height: 300px;
    width: 300px;
}

.photo {
    width: 100%;
    position: relative;
}

.uploadPhotoContainer>input {
    display: none;
}