.uploadPhotoContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: inherit;  
    justify-content: space-around;
    width: inherit;
}

.photoContainer {
    height: 400px;
    width: 300px;
}

.photo {
    width: 100%;
    position: relative;
}

#photo-input {
    display: none;
}

.uploadButton {
    cursor: pointer;
}