.instructionModal {
    border: solid 1px #707070;
    background-color: white;
    color: #707070;
    font-size: 1.5em;
    line-height: 200%;
    padding: 10px 20px;
    text-align: left;
    width: calc(300px - 40px);
}

.instructionItem {
    display: block;
}